/* Navbar */
.navbar {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar ul li a:hover {
  background-color: #575757;
}

/* Auth Buttons */
.auth-buttons button {
  margin-left: 10px;
}

/* Modal */
.modal-header {
  background-color: #444;
  color: white;
  border-bottom: 1px solid #ccc;
}

.modal-body {
  padding: 20px;
}

.modal-footer button {
  margin-right: 10px;
}

/* Button Styling */
.btn-success {
  background-color: #28a745;
  border: none;
  color: white;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-primary {
  background-color: #147bea;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #7d6c76;
  border: none;
  color: white;
}

.btn-secondary:hover {
  background-color: #5a6268;
}


.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

