
<nav class="navbar">
  <ul>
    <li><a href="#E-commerceApp">E-commerce App</a></li>
    <li><a href="#dashboard">Dashboard</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#projects">Projects</a></li>
  </ul>
  <div class="auth-buttons">
    <button *ngIf="loggedUserData.custId === 0" class="btn btn-success btn-sm" (click)="openLoginModel()">Login</button>
    <button *ngIf="loggedUserData.custId === 0" class="btn btn-success btn-sm mx-2" (click)="openRegisterModel()">Register</button>
    <button *ngIf="loggedUserData.custId !== 0" class="btn btn-primary btn-sm">{{loggedUserData.name}}</button>
    <button *ngIf="loggedUserData.custId !== 0" class="btn btn-warning btn-sm mx-2" (click)="logoff()">Logoff</button>
    <a class="link-secondary me-3" (click)="showCartPopup()">
      <i class="fa fa-shopping-cart text-white"></i>
    </a>
  </div>
</nav>



<div [ngClass]="{'dropdown-menu dropdown-menu-end show': isCartPopupOpen,
 'dropdown-menu dropdown-menu-end hide': !isCartPopupOpen}" 
     style="position: absolute; right: 13px; top: 60px;" 
     aria-labelledby="navbarDropdownMenuAvatar">
  <div class="row">
    <div class="col-8">
      <h6>Cart Items</h6>
    </div>
    <div class="col-4 text-end">
      <i class="fa fa-close p-2" (click)="showCartPopup()"></i>
    </div>
  </div>
</div>

<div class="modal" id="loginModal" #loginModal>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal" *ngIf="isLoginModalOpen">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Login</h4>
              <button type="button" class="btn-close" (click)="closeLoginModel()"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <label>Name</label>
                  <input type="text" [(ngModel)]="loginObj.UserName" class="form-control">
                </div>
                <div class="col-12">
                  <label>Mobile No</label>
                  <input type="text" [(ngModel)]="loginObj.UserPassword" class="form-control">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="closeLoginModel()">Close</button>
              <button type="button" class="btn btn-success" (click)="onLogin()">Login</button>
            </div>
          </div>
        </div>
      </div>
      
      
    

<div class="modal" id="registerModal" #registerModal>
  <div class="modal-dialog">
    <div class="modal-content">

   
      
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeRegisterModel()"></button>
      </div>

      
      <div class="modal-body">
        <div class="mb-3">
          <label for="registerName">Name</label>
          <input type="text" id="registerName" [(ngModel)]="registerObj.name" class="form-control" placeholder="Enter your name">
        </div>
        <div class="mb-3">
          <label for="registerMobile">Mobile No</label>
          <input type="text" id="registerMobile" [(ngModel)]="registerObj.MobileNo" class="form-control" placeholder="Enter your mobile number">
        </div>
        <div class="mb-3">
          <label for="registerPassword">Password</label>
          <input type="password" id="registerPassword" [(ngModel)]="registerObj.Password" class="form-control" placeholder="Create a password">
        </div>
      </div>
      
      
     

     
      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeRegisterModel()">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onRegister()">Register</button>
      </div>

    </div>
  </div>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product Name</th>
      <th class="text-center">Quantity</th>
      <th class="text-right">Price</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartData; trackBy: index">
      <td>
        <div 
          class="rounded" 
          [style.backgroundImage]="'url(' + item.productImageUrl + ')'" 
          style="width: 60px; height: 60px; background-size: cover;">
        </div>
      </td>
      <td class="align-middle">{{ item.productName }}</td>
      <td class="align-middle text-center">{{ item.quantity }} pcs</td>
      <td class="align-middle text-right">${{ item.productPrice }}</td>
      <td class="align-middle text-center">
        <a (click)="onRemoveProduct(item.cartId)" title="Delete Product">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>


<router-outlet></router-outlet>


