<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <h5>Category</h5>
      <div *ngFor="let item of categoryList$ | async; trackBy: trackByCategory">
        <button class="btn btn-success mt-2" (click)="getProductByCategory(item.categoryId)">
          {{ item.categoryName }}
        </button>
      </div>
    </div>
    <div class="col-10">
      <div class="row">
        <div *ngFor="let product of productList; trackBy: trackByProduct" class="col-3">
          <div class="card product-card">
            <img [src]="product['productImageUrl']" alt="Product Image">
            <span>{{ product['categoryName'] }}</span>
            <h5>{{ product['productName'] }}</h5>
            <p>{{ product['productPrice'] }}</p>
            
              <button class="btn add-to-cart-btn" (click)="onAddToCart(product.id)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



